@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css";

/* -------- POI VIEW -------- */


.main-wrapper > .segment {
  padding: 0px;
}

.contacts > span {
  display: block;
  padding-top: 5px;
}