@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  background-color: #000000;
}
 #floorButtons {
  position: absolute;
  z-index: 20;
}

#floorButtons button {
  display: block;
  width: 100%;
}