/* -------- POI VIEW -------- */

.main-wrapper {
	/* width: 335px; */
	width: 334px;
	background-color: rgba(255,255,255,1.00);
	height: 480px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.contacts > span {
  display: block;
  padding-top: 5px;
}